{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/signup.css' %}">
 
  <div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="signupcontainer">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign In</h2>
                    <form method="POST"  action="/resetpassword" method="post" class="register-form" id="register-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>        
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Send New Password"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="{% static 'assets/img/landing-img.png' %}" alt="sing up image"></figure>
                    <a href="/signin" class="signup-image-link">Login</a>
                </div>
            </div>
        </div>
    </section>


</div>



{% endblock %}