.dashboard
{
   min-height: 80vh !important;
}

.social a
{
    margin: 10px !important;
}

.social a
{
    margin: 10px !important;
    color: #157003;
}

.social a:hover
{
color: #0e4b06 !important;
}