.dashboard
{
   min-height: 80vh !important;
}

.social a
{
    margin: 10px !important;
}

.social a
{
    margin: 10px !important;
    color: #840000;
}

.social a:hover
{
color: #740000 !important;
}