{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard.css' %}">
 <div class="dashboard bg-light mt-5 pt-5">
    <div class="container">

        <div class="page-header">
          <h3>Your notes</h3>
        </div>
       
        <div class="row">
      
          <div class="col-md-8">
          <div class="messages">
            {% for message in messages %}
              {% if message.tags == "error" %}
              <div  class="alert alert-sm text-danger">{{ message }}</div>
              {% else %}
              <div  class="alert alert-sm text-{{ message.tags }}">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
          {% if notes %}

          {% for note in notes %}
            <article id="" class="bg-white p-4 mb-3">
              <header>
                <h5 >
                  <a class="text-dark " href="">
                  {{note.title}} </a>
                </h5>
              </header>
              <div class="entry-content">
                <!-- <a href="">
                  <img src="http://placehold.it/750x420" alt="" class="img-responsive" />
                </a> -->
                <p class="lead">
                    {{note.notes|linebreaks|truncatewords:"15"}}
                    <a href="/notes/{{note.id}}"  class="text-success">Read more</a>
                </p>
                <!-- &hellip; -->
                <div class="text-right" style="display:flex;justify-content: end;">
                    <span class="mx-2">Created on <i>{{note.date}}</i></span>
                </div>
              </div>
              <footer>
              </footer>
            </article>
            {% endfor %}
            {% else %}
              <div class="alert alert-info mt-5">
                  You have no notes at the moment
              </div>
            {% endif %}

      
            <!-- <nav>
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav> -->
      
      
          </div>
          <aside class="col-md-4 p-2 ">
      
            <div class="well mt-3  mb-1 float-right" style="display: flex;justify-content: end;">
              <a href="/add_notes" class="btn btn-sm btn-outline-dark "><i class="fa fa-plus" aria-hidden="true"></i>
                Add notes</a>

            </div>
      
            <h4>Past Notes</h4>
            <div class="list-group card">
              <a href="#" class="list-group-item bg-success text-white">
                <h6 class="list-group-item-heading">Earliest created notes</h6>
                <p class="list-group-item-text">
                 
                </p>
              </a>
              {% if past_notes %}
                {% for note in past_notes %}
                <div class="p-2 bg-light ">
                  <a href="/notes/{{note.id}}"><span class="h6">{{note.title}}</span> created: <span class="font-italic">{{ note.date }}</span> </a>
                </div>
                {% endfor %}
              {% else %}
                  <div class="alert alert-info mt-5 text-italic">
                      You have no notes at the moment
                  </div>
               {% endif %}
              
            </div>
      
      
      
      
      
      
      <div class="container mt-4 pt-4">
      <h3>Follow Us</h3>
      <div class="social">
        <a href="https://www.facebook.com/koechkelvin97" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/in/kelvin-koech-b4b8a514a/" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
        <a href="https://mobile.twitter.com/triplek254" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
        <a href="https://github.com/k-koech" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
      </div>
        
      </div>
      </aside>




</div>
</div>
</div>
{% endblock %}