{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard.css' %}">
 <div class="dashboard bg-light mt-5 pt-5">
    <div class="container">

        <div class="page-header">
          <h3>Your notes</h3>
        </div>
       
        <div class="row">
      
          <div class="col-md-8">
          <div class="messages">
            {% for message in messages %}
              {% if message.tags == "error" %}
              <div  class="alert alert-sm text-danger">{{ message }}</div>
              {% else %}
              <div  class="alert alert-sm text-{{ message.tags }}">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
          {% if notes %}

          {% for note in notes %}
            <article id="" class="bg-white p-4 mb-3">
              <header>
                <h5 >
                  <a class="text-dark " href="">
                  {{note.title}} </a>
                </h5>
              </header>
              <div class="entry-content">
                <!-- <a href="">
                  <img src="http://placehold.it/750x420" alt="" class="img-responsive" />
                </a> -->
                <p class="lead">
                    {{note.notes|linebreaks}}
                </p>
                <!-- &hellip; -->
                <div class="text-right" style="display:flex;justify-content: end;">
                    <span class="mx-2">Created on <i>{{note.date}}</i></span>
                    <a href="/notes/{{note.id}}" class="btn btn-sm btn-secondary float-right">Read More <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                </div>
              </div>
              <footer>
              </footer>
            </article>
            {% endfor %}
            {% else %}
              <div class="alert alert-info mt-5">
                  You have no notes at the moment
              </div>
            {% endif %}

      
            <!-- <nav>
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav> -->
      
      
          </div>
          <aside class="col-md-4 p-2 ">
      
            <div class="well">
              <h5>Join our Updates</h5>
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="email" class="form-control" value="{{user.email}}" placeholder="Email">
                  </div>
                </div>
      
                <div class="form-group mt-2">
                  <div class="col-sm-12 " style="display: flex;justify-content: right;">
                    <button type="submit" class="btn btn-sm btn-secondary">Join Us</button>
                  </div>
      
                </div>
              </form>
      
      
            </div>
      
            <h4>Past Notes</h4>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">
                 
                </p>
              </a>
              {% if past_notes %}
                {% for note in past_notes %}
                <div class="p-2 bg-light ">
                    <span class="h6">{{note.title}}</span> created: <span class="font-italic">{{ note.date }}</span> 
                </div>
                {% endfor %}
              {% else %}
                  <div class="alert alert-info mt-5 text-italic">
                      You have no notes at the moment
                  </div>
               {% endif %}
              
            </div>
      
      
      
      
      
      
      <div class="container mt-4">
      <h3>Follow Us</h3>
      <div class="social">
        <a href=""><i class="fa fa-3x fa-facebook-square"></i></a>
        <a href=""><i class="fa fa-3x fa-twitter-square"></i></a>
        <a href=""><i class="fa fa-3x fa-linkedin-square"></i></a>
        <a href=""><i class="fa fa-3x fa-google-plus-square"></i></a>
      </div>
        
      </div>
      </aside>




</div>
</div>
</div>
{% endblock %}