{% extends 'includes/base.html' %}
{% load static %}

{% block content %}

<main id="main">
<!-- ======= Landing Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>NoteBook</h1>
            <h2>Organize your notes in a well structured Manner</h2>
            <a href="#" class="download-btn"><i class="bx bxl-signup"></i>Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'assets/img/landing-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Landing -->
   
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-5 pt-5" data-aos="fade-right">
            <img src="{% static 'assets/img/Writing.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-up">
            <h3>NoteBook</h3>
            <p>
              There is a significance benefits or advantages that you will get by using an online tool notebook instead of a word processing tool.
            </p>
            <ul>
              <li><i class="bi bi-check"></i>   Saves time - For a writer, it is common to keep notes while he is researching about anything from the internet.</li>
              <li><i class="bi bi-check"></i> No hassle of copy and pen - If you want to keep your notes or schedule on a physical paper, you have to keep a pen and pencil with you all the time.</li>
              <li><i class="bi bi-check"></i> Always available to access - An online notebook is the best tool when you have to keep checking your notes to edit them. It is because you will be able to access all your notes at any time.</li>
            </ul>
            
          </div>
        </div>


      </div>
    </section><!-- End Details Section -->

  </main><!-- End #main -->

{% endblock %}