{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard.css' %}">
 <div class="dashboard mt-5 pt-5">
    <div class="container">

        <div class="page-header">
          <h3>Your notes</h3>
        </div>
      
        <div class="row">
      
          <div class="col-md-8">
      

        
            <article id="" class="bg-light p-3 mb-3">
              <header>
                <h5 >
                  <a class="text-dark" href="">
                  {{notes.title}} </a>
                </h5>
              </header>
              <div class="entry-content">
                <p class="lead">
                    {{notes.notes|linebreaks}}
                </p>
                <!-- &hellip; -->
                <div class="text-right bg-light" style="display:flex;justify-content: end;">
                  <a href="/delete_notes/{{notes.id}}" class="btn btn-sm btn-outline-danger">Delete</a>
                  <a href="/update_notes/{{notes.id}}" class="btn btn-sm btn-outline-success mx-3">Edit</a>
                </div>
              </div>
              <footer>
              </footer>
            </article>
        
      
      
          </div>
          <aside class="col-md-4 p-2 ">
      
            <div class="well">
              <h5>Join our Updates</h5>
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="email" class="form-control" value="{{user.email}}" placeholder="Email">
                  </div>
                </div>
      
                <div class="form-group mt-2">
                  <div class="col-sm-12 " style="display: flex;justify-content: right;">
                    <button type="submit" class="btn btn-sm btn-secondary">Join Us</button>
                  </div>
      
                </div>
              </form>
      
      
            </div>
      
            <h4>Past Notes</h4>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <h5 class="list-group-item-heading">The first notes to be created</h5>
                <p class="list-group-item-text">
                 
                </p>
              </a>
              {% if past_notes %}
                {% for note in past_notes %}
                <div class="p-2 bg-light ">
                    <a href="/notes/{{note.id}}"><span class="h6">{{note.title}}</span> created: <span class="font-italic">{{ note.date }}</span> </a>
                </div>
                {% endfor %}
              {% else %}
                  <div class="alert alert-info mt-5 text-italic">
                      You have no notes at the moment
                  </div>
               {% endif %}
              
            </div>
      
      
      
      
      
      
      <div class="container mt-4">
      <h3>Follow Us</h3>
      <div class="social">
        <a href=""><i class="fa fa-3x fa-facebook-square"></i></a>
        <a href=""><i class="fa fa-3x fa-twitter-square"></i></a>
        <a href=""><i class="fa fa-3x fa-linkedin-square"></i></a>
        <a href=""><i class="fa fa-3x fa-google-plus-square"></i></a>
      </div>
        
      </div>
      </aside>




</div>
</div>
</div>
{% endblock %}