{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/add_notes.css' %}">
 <div class="container-fluid add_notes mt-5 pt-5">
   
  <form action="/update_notes/{{notes.id}}" method="post" class="decor">
    {% csrf_token %}
    <div class="circle"></div>
    <div class="form-inner">
      <h1>Update notes</h1>
      <input type="text" name="title" value="{{notes.title}}" placeholder="title">
      <textarea name="description" placeholder="Description..." rows="7">
        {{notes.notes}}
      </textarea>
      <button type="submit">Save</button>
    </div>
  </form>

</div>
{% endblock %}